<div class="col-lg-12">
  <h2>Competition selection for <%= @player["first"] %> <%= @player["last"] %></h2>
  <p>Choose which competition you would like to login to:</p>
  <ul>
    <%= for competition <- @competitions do %>
      <li><a href="/competition/<%= competition["id"] %>"><%= competition["name"] %></a></li>
    <% end %>
  </ul>
</div>
